{% block alerts %} {% load static %}
<div class="container">
    <div class="row" id="alert-area">
        <div class="col-md-12 mb-15">
            <div class="card">
                <h5 class="card-header">Alerts Management</h5>
                <div class="card-body">
                    <h5 class="card-title">Departments Configuration</h5>
                    <p class="card-text">Settings for configuring your area departments.</p>
                    <div class="row">
                        <div class="col-sm-6"><a href="" class="btn btn-success btn-block">Alert Recipients</a></div>
                        <div class="col-sm-6"> <a href="" class="btn btn-primary btn-block">Delete Alert Recipient</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}