{% block areas %} {% load static %}
<div class="container">
    <div class="row" id="production-area">
        <div class="col-md-12 mb-15">
            <div class="card">
                <h5 class="card-header">Production Areas</h5>
                <div class="card-body">
                    <h5 class="card-title">Production Areas</h5>
                    <p class="card-text">Settings for configuring your production areas.</p>
                    <div class="row">
                        <div class="col-sm-4"><a href="" class="btn btn-success btn-block">Add New</a></div>
                        <div class="col-sm-4"> <a href="" class="btn btn-primary btn-block">Edit</a></div>
                        <div class="col-sm-4"><a href="" class="btn btn-danger btn-block">Delete</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}