{% block profile-nav %} {% load static %} {% if user.is_authenticated %}
<div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
        <div class="sidebar-heading">
            <img class="card-img-top" src="{% static '/images/tslogo.jpg' %}" alt="Card image cap">
        </div>
        <div class="list-group list-group-flush">
            <div class="section-head">
                <p><strong>Menu</strong></p>
            </div>
            <a href="#" class="list-group-item list-group-item-action bg-light">New Audit</a>
            <a href="#" class="list-group-item list-group-item-action bg-light">Edit Audits</a>
            <a href="#" class="list-group-item list-group-item-action bg-light">Delete Audits</a>
            <a href="#" class="list-group-item list-group-item-action bg-light">Outstanding Tasks</a>
            <a href="#" class="list-group-item list-group-item-action bg-light">Completed Tasks</a>
            <a href="#" class="list-group-item list-group-item-action bg-light">Audit History</a>
            <div class="section-head">
                <p>Settings</p>
            </div>
            <a href="#" class="list-group-item list-group-item-action bg-light" id="department-nav">Departments</a>
            <a href="#" class="list-group-item list-group-item-action bg-light" id="production-nav">Production Areas</a>
            <a href="#" class="list-group-item list-group-item-action bg-light" id="alert-nav">Alert Management</a>
            <a href="#" class="list-group-item list-group-item-action bg-light" id="questions-nav">Create Questions</a>
        </div>

    </div>

    {% else %} {% endif %}{% endblock %}