{% block profile-nav %} {% load static %} {% if user.is_authenticated %}
<div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
        <div class="sidebar-heading">
            <img class="card-img-top" src="{% static '/images/tslogo.jpg' %}" alt="Card image cap">
        </div>
        <div class="list-group list-group-flush">
            <div class="section-head">
                <p><strong>Menu</strong></p>
            </div>
            {% if order.user_id == request.user.id %}
            <a href="{% url 'new_audit' %}" class="list-group-item list-group-item-action bg-light">New Audit</a>
            <a href="{% url 'list_audits' %}" class="list-group-item list-group-item-action bg-light">Edit Audits</a>
            <a href="{% url 'open_actions' %}" class="list-group-item list-group-item-action bg-light">Outstanding Actions</a>
            <a href="{% url 'completed_actions' %}" class="list-group-item list-group-item-action bg-light">Completed Actions</a>
            <div class="section-head">
                <p>Settings</p>
            </div>
            {% else %}
            <a href="{% url 'new_audit' %}" class="list-group-item list-group-item-action bg-light">New Audit</a>
            <a href="{% url 'completed_actions' %}" class="list-group-item list-group-item-action bg-light">Completed Actions</a>
            <div class="section-head">
                <p>Settings</p>
            </div>
            {% endif %} {% if order.user_id == request.user.id %}
            <a href="#" class="list-group-item list-group-item-action bg-light" id="production-nav">Production Areas</a>
            <a href="#" class="list-group-item list-group-item-action bg-light" id="questions-nav">Questions</a> {% else %}
            <a href="#" class="list-group-item list-group-item-action bg-light" id="questions-nav">Questions</a> {% endif %}
        </div>

    </div>

    {% else %} {% endif %}{% endblock %}