{% extends "layouts/base.html" %}{% block content %}


<!-- Features Section-->
<div class="main">
    <section class="container">
        <h1 class="features-title">Features</h1>
        <div class="row">
            <div class="col-md-3 mb-5">
                <div class="card h-100">
                    <div class="card-body">
                        <h4 class="card-title">Vision Systems</h4>
                        <p class="card-text">Automate your production quality checks with image-based inspection systems. 100% verification checks. Suitable for wrapping machines etc.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-5">
                <div class="card h-100">
                    <div class=" card-body ">
                        <h4 class="card-title ">Coding Assurance</h4>
                        <p class="card-text ">Automate your production printer message selection to eliminate manual input and prevent the likelihood of wrong informationg being printed. </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-5 ">
                <div class="card h-100 ">
                    <div class="card-body ">
                        <h4 class="card-title ">Electronic Auditing</h4>
                        <p class="card-text ">Use our system to conduct your GMP & Compliance Audits using a tablet. No need for recording on paper then transferring to a word document to email later!</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-5 ">
                <div class="card h-100 ">
                    <div class="card-body ">
                        <h4 class="card-title ">Visitor & Contractor Management</h4>
                        <p class="card-text ">Want a easy way to manage your approved contractors? traceVMS can help you achieve health and safety and food safety compliance. </p>
                    </div>
                </div>
            </div>

        </div>

    </section>

    <section class="container">

        <div class="row" id="main-container">
            <div class="col-md-8 mb-5">
                <h2 class="features-title">Paperless Auditing</h2>
                <hr>
                <div class="container">
                    <img src="/static/images/ipad-audit.png" alt="Tracesense" style="width:100%;">
                </div>
            </div>
            <div class="col-md-4 mb-5">
                <h2 class="section-title">What is it?</h2>
                <hr>
                <p>Tracesense auditing software allows you to complete your quality audits electronically via a PC, tablet or phone. It's easy to use and will save you lots of time.</p>
                <h2 class="section-title">How does it Work?</h2>
                <hr>
                <ul>
                    <li>Improve efficiency, raise quality and cut costs.</li>
                    <li>Customisable - create your audit to suit your business.</li>
                    <li>Remove paperwork from your process.</li>
                    <li>Keep track of corrective actions.</li>
                    <li> Real time reporting.</li>
                </ul>
            </div>
        </div>
    </section>

    <section class="pricing py-5">
        <div class="container">
            <div class="row">
                <!-- Free Tier -->
                <div class="col-lg-6">
                    <div class="card mb-5 mb-lg-0">
                        <div class="card-body">
                            <h5 class="card-title text-muted text-uppercase text-center">Free</h5>
                            <h6 class="card-price text-center">£0<span class="period">/month</span></h6>
                            <hr>
                            <ul class="fa-ul">
                                <li><span class="fa-li"><i class="fas fa-check"></i></span>Single User</li>
                                <li><span class="fa-li"><i class="fas fa-check"></i></span>5GB Storage</li>
                                <li><span class="fa-li"><i class="fas fa-check"></i></span>Unlimited Public Projects</li>
                                <li><span class="fa-li"><i class="fas fa-check"></i></span>Community Access</li>
                                <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Unlimited Private Projects</li>
                                <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Dedicated Phone Support</li>
                                <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Free Subdomain</li>
                                <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Monthly Status Reports</li>
                            </ul>
                            <a href="#" class="btn btn-block btn-primary text-uppercase free-btn">Register Today</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card mb-5 mb-lg-0">
                        <div class="card-body">
                            <h5 class="card-title text-muted text-uppercase text-center">Dynamic</h5>
                            <h6 class="card-price text-center">£200<span class="period">/month</span></h6>
                            <hr>
                            <ul class="fa-ul">
                                <li><span class="fa-li"><i class="fas fa-check"></i></span><strong>5 Users</strong></li>
                                <li><span class="fa-li"><i class="fas fa-check"></i></span>50GB Storage</li>
                                <li><span class="fa-li"><i class="fas fa-check"></i></span>Unlimited Public Projects</li>
                                <li><span class="fa-li"><i class="fas fa-check"></i></span>Community Access</li>
                                <li><span class="fa-li"><i class="fas fa-check"></i></span>Unlimited Private Projects</li>
                                <li><span class="fa-li"><i class="fas fa-check"></i></span>Dedicated Phone Support</li>
                                <li><span class="fa-li"><i class="fas fa-check"></i></span>Free Subdomain</li>
                                <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Monthly Status Reports</li>
                            </ul>
                            <a href="#" class="btn btn-block btn-primary text-uppercase dynamic-btn">Sign Up Today!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>








    {% endblock %}