{% extends "layouts/base.html" %}{% block content %} {% include 'components/jumbo.html' %}

<!-- Features Section-->
<div class="main" id="features-area">
    <section class="container">
        <h1 class="features-title">Improve your inspection process</h1>
        <div class="row">
            <div class="col-md-4 mb-5">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <h4 class="card-title ">Factory Auditing</h4>
                        <div class="flip-card-front">
                            <img src="/static/images/tablet-engineer.jpg" alt="Bakery Tablet" style="width:300px;height:300px;">
                        </div>
                        <div class="flip-card-back">
                            <i class="fa fas fa-check fa-2x"></i>
                            <h1>Factory floor auditing</h1>
                            <p>Easy On-site Inspection</p>
                            <p>Customisable</p>
                            <p>Complete your audit report real time</p>
                            <p>Efficent and time saving</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-5">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <h4 class="card-title ">Remove Paperwork</h4>
                        <div class="flip-card-front">
                            <img src="/static/images/audit-paperwork.png" alt="Paperwork" style="width:300px;height:300px;">
                        </div>
                        <div class="flip-card-back">
                            <i class="fa fas fa-check fa-2x"></i>
                            <h1>Remove Paperwork</h1>
                            <p>Save time typing Up audit notes</p>
                            <p>Save time chasing corrective actions on paper</p>
                            <p>Data can be accessed from anywhere</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-5">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <h4 class="card-title ">Food Safety Compliant</h4>
                        <div class="flip-card-front">
                            <img src="/static/images/internal-audit.png" alt="Paperwork" style="width:300px;height:300px;">
                        </div>
                        <div class="flip-card-back">
                            <i class="fa fas fa-check fa-2x"></i>
                            <h1>Food Safety Compliant</h1>
                            <p>Compliant with BRC standard</p>
                            <p>Save time chasing corrective actions on paper</p>
                            <p>Data can be accessed from anywhere</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </section>

    <section class="container">

        <div class="row" id="main-container">
            <div class="col-md-8 mb-5">
                <h2 class="features-title">Paperless Auditing</h2>
                <hr>
                <div class="container">
                    <img src="/static/images/ipad-audit.png" alt="Tracesense" style="width:100%;">
                </div>
            </div>
            <div class="col-md-4 mb-5">
                <h2 class="section-title">What is it?</h2>
                <hr>
                <p>Tracesense auditing software allows you to complete your quality audits electronically via a PC, tablet or phone. It's easy to use and will save you lots of time.</p>
                <h2 class="section-title">How does it Work?</h2>
                <hr>
                <ul>
                    <li>Improve efficiency, raise quality and cut costs.</li>
                    <li>Customisable - create your audit to suit your business.</li>
                    <li>Remove paperwork from your process.</li>
                    <li>Keep track of corrective actions.</li>
                    <li> Real time reporting.</li>
                </ul>
            </div>
        </div>
    </section>

    <section class="pricing py-5" id="pricing-area">
        <div class="container">
            <div class="row">
                <!-- Free Tier -->
                <div class="col-lg-6">
                    <div class="card mb-5 mb-lg-0">
                        <div class="card-body">
                            <h5 class="card-title text-muted text-uppercase text-center">Free</h5>
                            <h6 class="card-price text-center">£0<span class="period">/month</span></h6>
                            <hr>
                            <ul class="fa-ul">
                                <li><span class="fa-li"><i class="fas fa-check"></i></span>Limited to 3 questions per Audit</li>
                                <li><span class="fa-li"><i class="fas fa-check"></i></span>View Audits</li>
                                <li><span class="fa-li"><i class="fas fa-check"></i></span>Update With Corrective Actions</li>
                                <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Reports</li>
                                <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Software Support</li>
                                <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Training Material</li>
                                <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Software Updates</li>
                            </ul>
                            <a href="{% url 'account_signup' %}" class="btn btn-block btn-primary text-uppercase free-btn">Register Today</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card mb-5 mb-lg-0">
                        <div class="card-body">
                            <h5 class="card-title text-muted text-uppercase text-center">Dynamic</h5>
                            <h6 class="card-price text-center">£200<span class="period">/month</span></h6>
                            <hr>
                            <ul class="fa-ul">
                                <li><span class="fa-li"><i class="fas fa-check"></i></span>Unlimited Questions for your Audits</li>
                                <li><span class="fa-li"><i class="fas fa-check"></i></span>View Audits</li>
                                <li><span class="fa-li"><i class="fas fa-check"></i></span>Update with Corrective Actions</li>
                                <li><span class="fa-li"><i class="fas fa-check"></i></span>Reports</li>
                                <li><span class="fa-li"><i class="fas fa-check"></i></span>Software Support</li>
                                <li><span class="fa-li"><i class="fas fa-check"></i></span>Training Material</li>
                                <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Software Updates</li>
                            </ul>
                            <a href="#" class="btn btn-block btn-primary text-uppercase dynamic-btn">Sign Up Today!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>








    {% endblock %}