{% extends "layouts/base.html" %}{% block content %}

<section class="container" id="support-section">
    <form>
        <div class="form-group">
            <h2>Support</h2>
            <p>Do you have any support requirements? or Questions? Please fill in the form below to contact us. Our team will come back to you as soon as possible.</p>
            <label for="name">Your name:</label>
            <input type="text" class="form-control" placeholder="Enter name" id="name">
            <label for="email">Your Email address:</label>
            <input type="email" class="form-control" placeholder="Enter email" id="email">
        </div>
        <div class="form-group">
            <label for="enquiry">Example textarea</label>
            <textarea class="form-control" id="enquirySection" placeholder="Enquiry" id="enquiry" rows="3"></textarea>
        </div>

        <button type="submit" class="btn btn-primary">Send</button>
    </form>
</section>

<section class="container" id="company-info">
    <div class="contact-us">
        <i class="fa fas fa-at"></i><br>
        <strong>info@tracesense.co.uk</strong>
    </div>





</section>



{% endblock %}