{% extends "layouts/base.html" %}{% block title %}View Areas{% endblock %}{% load static %}{% block content %} {% if user.is_authenticated %}
<section class="edit-areas">
    <div class="container" id="edit-area-list">
        <div class="card">
            <h5 class="card-header support-header">Areas</h5>
            <div class="card-body">
                <div class="list-group">
                    {% for a in areas %}
                    <h5 class="mb-1">Area</h5>
                    <li class="list-group-item">{{a.name}}
                        <div class="options-menu">
                            <a class="btn btn-primary btn-sm" href="{% url 'update_area' a.location_id %}">Edit</a>
                            <a class="btn btn-danger btn-sm" href="{% url 'delete_area' a.location_id %}">Delete</a>

                        </div>
                    </li>{% endfor %}
                </div>

            </div>
            <div class="add-new-btn">
                <div class="col-sm-6">
                    <a href="{% url 'create_area' %}" class="btn btn-primary">Add New</a>
                </div>
                <div class="col-sm-6"> <a href="{% url 'dashboard' %}" class="btn btn-danger">Cancel</a></div>
            </div>
        </div>
    </div>
</section>
{% else %} {% include 'components/oops.html' %} {% endif %} {% endblock %}