@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
.main-navbar {
    padding-top: 1rem;
    padding-bottom: 1rem;
    height: 4rem;
    background-color: #0077b6;
}

#navbarTogglerDemo02 {
    background-color: #0077b6;
}

.navbar a {
    display: block;
    color: #fafafa;
    text-align: center;
}

.img-nav {
    width: 50px;
    height: 40px;
}

.login-btn-nav {
    padding-right: 10%;
}

.profile-img {
    width: 30px;
    padding-top: 1rem;
}

.btn-login {
    background-color: #ee6c4d;
    color: #fafafa;
    border-style: none;
}

.jumbotron {
    background-color: #292b2c;
    color: #fafafa;
    padding-bottom: 0;
}

.jumbo-main-title {
    font-family: 'Fira Sans', sans-serif;
    font-size: 3.6rem;
}

.hand-jumbo-img {
    width: 50%;
}

body {
    padding-top: 40px;
}

.p-center {
    text-align: center;
}

.features-title {
    color: #ee6c4d;
    text-align: center;
}

.section-title {
    color: #ee6c4d;
}

section.pricing {
    background-color: #0077b6;
}

.pricing .card {
    border: none;
    border-radius: 1rem;
    transition: all 0.2s;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.pricing hr {
    margin: 1.5rem 0;
}

.pricing .card-title {
    margin: 0.5rem 0;
    font-size: 0.7rem;
    letter-spacing: .1rem;
    font-weight: bold;
}

.pricing .card-price {
    font-size: 3rem;
    margin: 0;
}

.pricing .card-price .period {
    font-size: 0.8rem;
}

.pricing ul li {
    margin-bottom: 1rem;
}

.pricing .text-muted {
    opacity: 0.7;
}

.dynamic-btn {
    background-color: #ee6c4d;
    border-style: none;
    font-size: 80%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    opacity: 0.7;
    transition: all 0.2s;
}

.free-btn {
    background-color: #0077b6;
    border-style: none;
    font-size: 80%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    opacity: 0.7;
    transition: all 0.2s;
}

.jumbo-p {
    font-size: 1.3rem;
}

.flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front {
    color: #000000;
}

.flip-card-back {
    background-color: #2980b9;
    color: #fafafa;
    transform: rotateY(180deg);
}


/* Hover Effects on Card */

@media (min-width: 992px) {
    .pricing .card:hover {
        margin-top: -.25rem;
        margin-bottom: .25rem;
        box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
    }
    .pricing .card:hover .btn {
        opacity: 1;
    }
}


/* Support page CSS Styling */

#support-section {
    padding-top: 5rem;
}

#company-info {
    padding-top: 2rem;
    text-align: center;
}

.support-header {
    background-color: #2980b9;
    color: #fafafa;
    text-align: center;
}


/* About Page CSS Styling */

.about-area {
    padding-top: 5rem;
}

.about-cards {
    padding-top: 3rem;
}

.about-us {
    text-align: center;
}

.card-footer {
    text-align: center;
}

.sign-in-title {
    padding-top: 6rem;
    text-align: center;
}

#form-section {
    padding-top: 5rem;
}

.centered-p {
    text-align: center;
}

#admin-contain {
    background-color: #2980b9;
    padding-bottom: 2rem;
    padding-top: 5rem;
}

.header-title {
    text-align: center;
    background-color: #0077b6;
}

.card-header {
    text-align: center;
}

.btn-primary {
    background-color: #0069A8;
}

.card-header {
    background-color: #0077b6;
    color: #fafafa;
}

.login-form {
    width: 340px;
    margin: 50px auto;
}

.col-sm-4 {
    padding-bottom: 2rem;
}

.user-status {
    padding-left: 2rem;
    color: #fafafa;
}

.user-logged-in {
    color: #ee6c4d;
    font-weight: bold;
}

.flip-card-img {
    width: 300px;
    height: 250px;
}

.card-img-top {
    width: 100%;
    height: 100%;
}

.feature-pic {
    width: 90%;
}

.about-us-img {
    padding-top: 2rem;
}

.about-us-cards {
    width: 100%;
    height: 50%;
}

primaryAction {
    background-color: #ee6c4d;
    color: #fafafa;
}


/* Login page CSS styling */

.card-signin {
    border: 0;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.card-signin .card-title {
    margin-bottom: 2rem;
    font-weight: 300;
    font-size: 1.5rem;
}

.card-signin .card-body {
    padding: 2rem;
}

.form-signin {
    width: 100%;
}

#id_login {
    width: 100%;
}

#id_password {
    width: 100%;
}


/* Fallback for Edge
  -------------------------------------------------- */

@supports (-ms-ime-align: auto) {
    .form-label-group>label {
        display: none;
    }
    .form-label-group input::-ms-input-placeholder {
        color: #777;
    }
}


/* Fallback for IE
  -------------------------------------------------- */

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
    .form-label-group>label {
        display: none;
    }
    .form-label-group input:-ms-input-placeholder {
        color: #777;
    }
}


/* Styling for sidebar in profile page
*/

.sidebar-nav {
    display: none;
}

.sidebar-sticky {
    padding-top: 2rem;
    background-color: #D3D3D3;
    color: #fafafa;
}

.sidebar {
    padding-left: 0;
}

.section-head {
    padding-top: 1rem;
    text-align: center;
    color: #0077b6;
}

.title-profile {
    padding-top: 2rem;
}

#password-reset-form {
    padding-top: 2rem;
}

.card-img-top {
    width: 8rem;
    padding-right: 1rem;
}

.side-item {
    padding-left: 1rem;
    display: block;
}

#page-content-wrapper {
    padding-top: 2rem;
}

.sidebar-heading {
    padding-top: 2rem;
}


/* Sign up form styling
*/

#sign-up-form {
    padding-top: 3rem;
}

#id_email {
    width: 100%;
}

#id_email2 {
    width: 100%;
}

#id_username {
    width: 100%;
}

#id_password1 {
    width: 100%;
}

#id_password2 {
    width: 100%;
}


/* Email verification page */

#verify-email {
    padding-top: 3rem;
}


/* Dashboard Cards */

#dashboard-body-card {
    background-color: #0077b6;
    color: #fafafa;
}

#oops-statement {
    padding-top: 2rem;
}


/* Dashboard Page Styling */

.dashboard-section {
    width: 100%;
}