@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
.main-navbar {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #292b2c;
    color: #fafafa;
}

.navbar {
    background-color: #292b2c;
    color: #fafafa;
}

body {
    font-family: 'Fira Sans', sans-serif;
}

.jumbotron {
    background-color: #292b2c;
    color: #fafafa;
}

.jumbo-main-title {
    font-size: 3.6rem;
}