{% block jumbo %} {% load static %}

<!-- Jumbotron -->
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="jumbo-main-title col-6">
                <h2>Traceability Audit Management System</h2>
                <p class="jumbo-p">Quickly and easily conduct your food safety audits electronically!</p>
                <a class="btn btn-primary btn-lg" id="learn-more-btn" href="#" role="button">Learn more</a>
            </div>
            </h2>
            <a class="image-logo col-5" href="#">
                <img src="{% static '/images/audit-in-hand.png' %}" class="hand-jumbo-img">
            </a>
        </div>
    </div>
</div>



{% endblock %}