{% block navbar %} {% load static %}
<nav class="navbar navbar-expand-lg navbar-dark fixed-top main-navbar">
    <a class="navbar-brand" href="{% url 'main' %}">
        <img src="{% static '/images/logo-ts.png' %}" class="img-nav">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link" id="pricing-link" href="{% url 'pricing_page' %}">Pricing</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="support-link" href="{% url 'new_enquiry' %}">Contact Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'about' %}">About Us</a>
            </li>
        </ul>
        {% if user.is_authenticated %}
        <div class="col-sm-2"> <a href="{% url 'dashboard' %}" class="btn btn-info"><strong>{{user.username}}</strong> Dashboard</a></div>
        <div class="col-sm-2"> <a href="{% url 'account_logout' %}" class="btn btn-danger">Log Out</a></div>
        {% else %}
        <div class="col-sm-2"> <a href="{% url 'account_login' %}" class="btn btn-info">Login</a></div>
        {% endif %}
    </div>
</nav>
{% endblock %}