{% extends "account/base.html" %} {% block title %}{{user.username}} Reset Password{% endblock %}{% load i18n %} {% block head_title %}{% trans "Change Password" %}{% endblock %} {% block content %}

<div class="container col-sm-9 col-md-7 col-lg-5 mx-auto" id="password-change-form">
    <div class="card">
        <h5 class="card-header support-header">{% trans "Change Password" %}</h5>
        <div class="card-body sign-out-body">
            <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
                {% csrf_token %} {{ form.as_p }}
                <button type="submit" class="btn btn-lg btn-primary" name="action">{% trans "Change Password" %}</button>
            </form>
        </div>
    </div>
    <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
</div>
{% endblock %}