{% extends "layouts/base.html" %}{% load static %}{% block content %} {% include 'components/profile-nav.html' %}

<section class="dashboard-section">
    <div class="container">
        <div id="page-content-wrapper">
            <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                <button class="btn btn-primary" id="menu-toggle">Toggle Menu</button>
                </button>
            </nav>

        </div>
    </div>

    <h1>Hey</h1>

</section>


{% endblock %}