{% extends "layouts/base.html" %}{% block title %}Delete Question{% endblock %}{% load static %}{% block content %} {% if user.is_authenticated %}


<div class="container" id="delete-confirmation">
    <div class="card">
        <h5 class="card-header support-header">Delete {{question}}</h5>
        <div class="card-body">
            <div class="form-group">
                <p>Are you sure you want to delete <strong>"{{question}}" ? </strong></p><br>
                <form action="{% url 'delete_question' question.gmp_questionid  %}" method="POST" class="delete-btn-confirm"> {% csrf_token %}
                    <input type="submit" name="Confirm" class="btn btn-danger">
                </form>

            </div>
            <div class="delete-cancel-btn">
                <a href="{% url 'view_questions' %}" class="btn btn-success">Cancel</a>
            </div>
        </div>
    </div>
</div>
{% else %} {% include 'components/oops.html' %} {% endif %}{% endblock %}