{% block jumbo %}

<!-- Jumbotron -->
<div class="jumbotron">
    <div class="container">
        <h2 class="jumbo-main-title">Professional Traceability Audit Management</h2>
        <p class="jumbo-second-title">Tracesense helps businesses improve their productivity by making GMP audits and inspections quick to carry out and simple to manage.</p>
        <div class="row d-flex justify-content-center">
            <div class="col-xl-7 pb-2">
                <p class="card-text">Sign up for free below to discover how it can help you complete audits easily! and remove paperwork from your process!</p>
            </div>
            <!-- Grid column -->
        </div>
        <!-- Grid row -->
        <hr class="my-4 rgba-white-light">
        <div class="pt-2">
            <button type="button" class="btn btn-outline-white">Buy now <i class="far fa-gem ml-1"></i></button>
            <button type="button" class="btn btn-outline-white">Download <i class="fas fa-download ml-1"></i></button>
        </div>
    </div>
</div>


<!-- Jumbotron -->
{% endblock %}