{% extends "layouts/base.html" %}{% load static %}{% block content %} {% if user.is_authenticated %}

<section class="audit-form">
    <div class="container">
        <div class="card">
            <h5 class="card-header support-header">New Audit</h5>
            <div class="card-body" id="audit-body-form">
                <div class="list-group">
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        <strong>Audit Questions</strong><br>Please record any quality issues or food safety issues. Remember to <strong>submit your audit</strong> at the end to save it in the system.
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    {% for q in question %}
                    <li class="list-group-item" id="question-group-box">
                        <div class="question-area">
                            <h5 class="audit-questions">{{q.question}}</h5>
                            {{form.as_p}}
                            <div class="form-group">
                                <label for="exampleFormControlSelect1">Production Location:</label>
                                <select class="form-control" id="exampleFormControlSelect1">
                                <option disabled selected value> -- select an area -- </option>
                                {% for loc in location %}
                              <option>{{loc.name}}</option>
                              {% endfor %}
                            </select>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="commentCheckbox">
                                    <label class="custom-control-label" for="commentCheckbox">Tick To Add Comment?</label>
                                </div>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                    <div class="card-body">
                        <form action="" method="POST" class="submit-audit-btn"> {% csrf_token %}
                            <input type="submit" name="Submit" class="btn btn-success  btn-lg btn-block">
                        </form>

                        <div class="cancel-btn">
                            <a href="{% url 'dashboard' %}" class="btn btn-danger btn-lg btn-block">Cancel Audit</a></div>
                    </div>
                </div>

            </div>

        </div>
    </div>


    </div>
</section>
{% else %} {% include 'components/oops.html' %} {% endif %} {% endblock %}