{% extends "layouts/base.html" %}{% load static %}{% block content %} {% if user.is_authenticated %}
<section class="edit-departments">
    <div class="container" id="edit-departments-list">
        <div class="card">
            <h5 class="card-header support-header">Edit Departments</h5>
            <div class="card-body">
                <p class="p-center">Select department to edit</p>
                <div class="list-group">
                    {% for dep in departments %}
                    <a href="#" class="list-group-item list-group-item-action">{{dep.department}}</a> {% endfor %}
                </div>

            </div>
        </div>
    </div>
</section>

{% else %} {% include 'components/oops.html' %} {% endif %} {% endblock %}