{% extends "layouts/base.html" %}{% load static %}{% block content %} {% if user.is_authenticated %}
<section class="edit-departments">
    <div class="container" id="edit-department-list">
        <div class="card">
            <h5 class="card-header support-header">Audit Data</h5>
            <div class="card-body">
                <div class="list-group">
                    {% for audits in data %}
                    <h5 class="mb-1">{{audits.gmp_question.question}}</h5>
                    <li class="list-group-item"> Created {{audits.created}} for location <strong>{{audits.location.name}}.</strong>
                        <div class="options-menu">
                            <a class="btn btn-primary btn-sm" href="{% url 'update_audits' audits.audit_id %}">Edit</a>
                            <a class="btn btn-danger btn-sm" href="{% url 'delete_audit' audits.audit_id %}">Delete</a>

                        </div>
                    </li>{% endfor %}
                </div>

            </div>
            <div class="add-new-btn">
                <div class="col-sm-6">
                    <a href="{% url 'new_audit' %}" class="btn btn-primary">New</a>
                </div>
                <div class="col-sm-6"> <a href="{% url 'dashboard' %}" class="btn btn-danger">Cancel</a></div>
            </div>
        </div>
    </div>
</section>
{% else %} {% include 'components/oops.html' %} {% endif %} {% endblock %}