{% extends "layouts/base.html" %}{% load static %}{% block content %}

<div class="container" id="confirmation-email">
    <div class="card">
        <h5 class="card-header support-header">Thanks for your enquiry.</h5>
        <div class="card-body">
            <form>
                <div class="form-group">
                    <p>Thank you for your email. We will get back to you as soon as possible.</p>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}