{% extends "layouts/base.html" %}{% load static %}{% block content %}

<section class="contact-us">
    <div class="container" id="contact-us">
        <div class="card">
            <h5 class="card-header support-header">Contact Us</h5>
            <div class="card-body">
                <div class="form-group">
                    <form action="" method="POST"> {% csrf_token %} {{form}}
                        <input type="submit" name="Send" class="btn btn-success">
                    </form>
                </div>
            </div>
            <div class="col-sm-6"> <a href="{% url 'dashboard' %}" class="btn btn-danger">Cancel</a></div>
        </div>
    </div>
</section>

{% endblock %}