{% block error %} {% load static %}

<div class="container" id="oops-statement">
    <div class="card">
        <h5 class="card-header support-header">Oops!</h5>
        <div class="card-body">
            <form>
                <div class="form-group">
                    <p>It looks like something has went wrong with trying to send your enquiry...</p><br>
                    <p>Please contact support at info@tracesense.co.uk from your email provider.</p>
                </div>
            </form>
        </div>
    </div>
</div>
</div>




{% endblock %}